.main-skills-container-title{
    padding-top: 3%;
    padding-bottom: 3%;
}


.main-skills-container-carousel{
    background: #F2E9E4;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 300px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    
}

.main-skills-container-carousel::before, .main-skills-container-carousel::after{
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 45%);
    content: "";
    height: 300px;
    position: absolute;
    width: 200px;
    z-index: 2;
}


.main-skills-container-carousel::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.main-skills-container-carousel::before{
		left: 0;
		top: 0;
}

@keyframes cambio {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-300px * 9));}
}

.main-skills-container-carousel-imgs{
    display: flex;
    animation: cambio 20s linear infinite;
    width: calc(300px * 18);
    align-items: center;
    justify-content: center;
}



.main-skills-container-carousel-imgs__slider{
    height: 200px;
    width: 300px;
    margin: auto;
    padding: auto;
}

.main-skills-container-carousel-imgs__svg{
    width: 200px;
    height: 200px;
}


/*
Skills and aptitudes box
*/

.main-skills-container-skills{
    background-color: #F2E9E4;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    margin: 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid #dad3d9;
    border-radius: 15px;
}

.main-skills-container-skills__block{
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.main-skills-container-skills__svgIcons{
    height: 100%;
    width: 100%;
    margin-top: 5% ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-skills-container-skills__tech{
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
    margin: 5%;
}



/*MOBILE QUERY*/

@media screen and (max-width: 480px)  {
    .main-skills-container-carousel{
        height: 150px;
    }

    .main-skills-container-carousel-imgs__slider{
        height: 100px;
        width: 300px;
        margin: auto;
        padding: auto;
    }

    .main-skills-container-carousel-imgs__svg{
        width: 200px;
        height: 100px;
    }

}

/*TABLETS QUERY*/

@media screen and (min-width: 481px)  {
    .main-skills-container-carousel{
        height: 200px;
    }

    .main-skills-container-carousel-imgs__slider{
        height: 150px;
        width: 300px;
        margin: auto;
        padding: auto;
    }

    .main-skills-container-carousel-imgs__svg{
        width: 200px;
        height: 150px;
    }

}

/*BIG SCREEN QUERY*/

@media screen and (min-width: 800px)  {
    .main-skills-container-carousel{
        height: 300px;
    }

    .main-skills-container-carousel-imgs__slider{
        height: 200px;
        width: 300px;
        margin: auto;
        padding: auto;
    }

    .main-skills-container-carousel-imgs__svg{
        width: 200px;
        height: 200px;
    }

}