.nav-container {
    position: sticky;
    top: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: ". . nav";
}

.nav-list {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0%;
    background: rgba(201, 173, 167, .7);
    border-radius: 25px;
}

.nav-list-item {
    margin: auto;
    padding-right: 4%;
    padding-top: 3%;
}

@media screen and (max-width: 480px) {
    .nav-list {
        width: 230px;
        grid-area: nav;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0%;
        background: rgba(201, 173, 167, .7);
        border-radius: 25px;
    }
}

@media (min-width: 481px) {
    .nav-list {
        width: 230px;
        grid-area: nav;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0%;
        background: rgba(201, 173, 167, .7);
        border-radius: 25px;
    }

    @media (min-width: 768px) {
        .nav-list {
            width: 330px;
            grid-area: nav;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 0%;
            background: rgba(201, 173, 167, .7);
            border-radius: 25px;
        }
    }

    @media (min-width: 1024px) {
        .nav-list {
            width: 430px;
            grid-area: nav;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 0%;
            background: rgba(201, 173, 167, .7);
            border-radius: 25px;
        }
    }
}