.nav-container{
    position: sticky;
    top: 0;
    background-color: #C9ADA7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: ". . nav";
}

.nav-list{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0%;
}

.nav-list-item{
    margin: auto;
}