#aboutPage{
    background-color: #C9ADA7;
}

.about-container-ImgText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.about-container-img{
    max-width: 100%;
    height: auto;
}