#aboutPage{
    background-color: #C9ADA7;
}

.about-container-ImgText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.about-container-img{
    max-width: 100%;
    height: auto;
}

.about-container-card{
    opacity: 100%;
}

/*
MOBILE MEDIA QUERY //////////////
*/

@media (max-width: 480px) {
    .about-container-card{
        width: 330px;
    }
    .about-container-ImgText{
        height: 100%;
    }
}

/*
TABLET MEDIA QUERY //////////////
*/

@media (min-width: 480px){
    .about-container-card{
        width: 400px;
    }
    .about-container-ImgText{
        height: 100%;
    }
}

/*
BIG SCREEN MEDIA QUERY //////////////
*/

@media (min-width: 768px){
    .about-container-card{
        width: auto;
    }
    .about-container-ImgText{
        height: 100%;
    }
}