

/*
PRINCIPAL CONTAINER ////////////////////////////////////////////
*/
.containerBanner{
    background-color: #C9ADA7;
    background: linear-gradient(0deg, #C9ADA7 0%, #F2E9E4 5%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
                        "logo"
                        "logo"
                        "wave"
                        ;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: auto;
    margin: auto;
}


/*
CONTAINER WHICH HAS THE LOGO
*/
.containerBanner-Logo{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.imgLogoBanner{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
}


/*
WAVE SVG CSS >
*/
.wave{
    position: relative;
    margin-top: auto;
}

.waveSVG{
    grid-area: wave;
}

/*
ARROW ANIMATION //
*/


.arrow{
    grid-area: wave;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 2em;
    height: 2em;
    border-bottom: 5px solid #9A8C98;
    border-right: 5px solid #9A8C98;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*
MEDIA QUERY TO MOBILE >>>>>>>>>>>>>>>
*/

@media (max-width: 420px){
    .containerBanner{
        background-color: #C9ADA7;
        background: linear-gradient(0deg, #C9ADA7 0%, #F2E9E4 7%);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
                            "logo"
                            "logo"
                            "wave"
                            ;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: auto;
        margin: auto;
    }

.arrow{
    grid-area: wave;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 1em;
    height: 1em;
    border-bottom: 5px solid #9A8C98;
    border-right: 5px solid #9A8C98;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
}

/*
MEDIA QUERY TO TABLETS >>>>>>>>>>
*/

@media (min-width: 420px){
    .arrow{
        grid-area: wave;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .arrow span{
        display: block;
        width: 2em;
        height: 2em;
        border-bottom: 5px solid #9A8C98;
        border-right: 5px solid #9A8C98;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }
}

/*
MEDIA QUERY TO LAPTOPS >>>>>>>>>>
*/
@media (min-width: 769px){

    .arrow{
        grid-area: wave;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .arrow span{
        display: block;
        width: 2em;
        height: 2em;
        border-bottom: 5px solid #9A8C98;
        border-right: 5px solid #9A8C98;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }
}
