.containerBanner{
    background-color: #CED4DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.containerBanner-LogoAnimation{
    display: flex;
    flex-direction: row;
}

.imgLogoBanner{
    width: 100%;
    max-width: 350px;
    height: auto;
}
