

/*
PRINCIPAL CONTAINER ////////////////////////////////////////////
*/
.containerBanner{
    background-color: #F2E9E4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
                        "logo"
                        "logo"
                        "wave"
                        ;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: auto;
    margin: auto;
}


/*
CONTAINER WHICH HAS THE LOGO
*/
.containerBanner-Logo{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.imgLogoBanner{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
}


/*
WAVE SVG CSS >
*/
.wave{
    grid-area: wave;
    position: relative;
    height: max-content;
    width: auto;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.waveSVG{
    height: 100%;
    width: auto;
}

/*
ARROW ANIMATION //
*/


.arrow{
    grid-area: wave;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #9A8C98;
    border-right: 5px solid #9A8C98;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}